In [1]:
import pandas as pd
df = pd.read_csv('Vacancy.csv')

In [2]:
df

,EMIS,School Name,Gender,Assistant_total,Assistant_vacant,Assistant_filled,AV-Aid Technician_total,AV-Aid Technician_vacant,AV-Aid Technician_filled,Baildar_total,...,Sr. Clerk_filled,Store Keeper_total,Store Keeper_vacant,Store Keeper_filled,Sweeper_total,Sweeper_vacant,Sweeper_filled,Waterman_total,Waterman_vacant,Waterman_filled
0,34210001,GHSS PUBLIC KUNJAH,Male,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,34210002,GHSS TANDA,Male,0,0,0,0,0,0,0,...,0,0,0,0,1,1,0,0,0,0
2,34210003,GHS ZAMINDAR GUJRAT,Male,0,0,0,0,0,0,0,...,0,0,0,0,1,0,1,0,0,0
3,34210004,GHS COMPREHENSIVE GUJRAT,Male,0,0,0,0,0,0,0,...,0,1,1,0,1,0,1,0,0,0
4,34210005,GHS MUSLIM GUJRAT,Male,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
341,34230104,GGHS SIMBLI,Female,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
342,34230113,GGHS BHAWANJ,Female,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
343,34230142,GGHS FATEH PUR,Female,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
344,34230161,GGMHS SHEIKH PUR DAKHLI,Female,0,0,0,0,0,0,0,...,0,0,0,0,1,1,0,0,0,0
345,34230166,GGCMHS BHALWAL GHARBI,Female,0,0,0,0,0,0,0,...,0,0,0,0,1,0,1,0,0,0

In [ ]:
vacant_col = [col for col in df.columns if 'vacant' in col and df[col].sum() != 0 ]
vacant_col

In [ ]:
selected_col  = list(df.columns[:3])+vacant_col
selected_col

In [ ]:
df.loc[:,selected_col].shape

In [ ]:
vpBySchool = df.loc[df[vacant_col].gt(0).any(axis=1), selected_col]
vpBySchool

In [86]:
vpBySchool.iloc[:,3:].sum()

Assistant_vacant                     3.0
Bulavi_vacant                       27.0
Chowkidar/ S.G_vacant               65.0
Class-IV_vacant                     49.0
Head Clerk_vacant                    1.0
I.T. Comp. Lab. Incharge_vacant      9.0
Jr. Clerk_vacant                   114.0
Lab. Assistant_vacant                3.0
Lab. Attendant_vacant               60.0
Lab. Incharge_vacant                 2.0
Lecturer Assistant_vacant           23.0
Librarian_vacant                     9.0
Library Assistant_vacant             3.0
Library Attendant_vacant             6.0
Library Clerk_vacant                10.0
Mali_vacant                         20.0
Naib Qasid_vacant                   59.0
School Guard_vacant                  5.0
Store Keeper_vacant                  1.0
Sweeper_vacant                      44.0
Waterman_vacant                      3.0
Total                                0.0
dtype: float64

vpBySchool['Total'] = vpBySchool.iloc[:,3:].sum()

In [77]:
condition = vpBySchool['Sweeper_vacant']>0

In [81]:
vpBySchool.loc[condition,list(vpBySchool.columns[:3])+['Sweeper_vacant']]

,EMIS,School Name,Gender,Sweeper_vacant
1,34210002,GHSS TANDA,Male,1
6,34210007,GHS ISLAMIA GUJRAT,Male,1
10,34210011,GHS LAKHAN WAL,Male,1
11,34210012,GHS MOIN UD DIN PUR,Male,1
17,34210018,GHS ISLAMIA NO.1 JALALPUR JATTAN,Male,1
20,34210021,GHS TALEEM-UD-DIN J.P.JATTAN,Male,1
24,34210025,GHS ALAMGARH,Male,1
26,34210027,GHS BAKHRI WALI,Male,1
36,34210037,GHS FATEH PUR,Male,1
51,34210052,GHS MANGOWAL WEST,Male,1
55,34210056,GHS THATTA POUR,Male,1
61,34210062,GHS MALHU KHOKHAR,Male,1
62,34210063,GHS DAULAT NAGAR,Male,1
84,34210087,GGHS ISLAMIA KUNJAH,Female,1
91,34210094,GGHS SULTAN BUKISH GUJRAT,Female,1
94,34210097,GGHS KAMLI WALA GUJRAT,Female,1
95,34210098,GGHS MUSLIM PARDA GUJRAT,Female,1
98,34210101,GGHS MACHIWAL,Female,1
131,34210152,GGHS PERO SHAH,Female,1
161,34210195,GGHS TIBBI GORIAN,Female,1
185,34220004,GHS KHARIAN,Male,1
190,34220009,GHSS AMRA KALAN,Male,1
199,34220018,GHS TECHNICAL PANAJAN KASANA,Male,1
200,34220019,GHS BAHARWAL,Male,1
203,34220022,GHS DILAWAR PUR,Male,1
217,34220036,GHS KAKRALI,Male,1
221,34220040,GHS CHAKORI BHELOWAL,Male,1
229,34220048,GHS THEKRIAN MONIAN,Male,1
239,34220058,GGHSS THATHA RAI BAHADUR,Female,1
245,34220064,GGHS CHANNAN,Female,1
247,34220066,GGHS PINDI SULTAN PUR,Female,1
249,34220068,GGHS M.B.LALAMUSA,Female,1
250,34220069,GGHS PANJAN KASANA,Female,1
291,34220144,GGHS CHACHIAN,Female,1
295,34220273,GHS NOOR JAMAL NORTH,Male,1
303,34220800,GHSS MODEL (ATTACH WITH QAED (M) LALAMUSA),Male,2
306,34220809,GGHSS EXCELLENT (ATTACHED WITH QAED) LALAMUSA.,Female,2
308,34220811,GHSS BAGIRAN WALA,Male,1
319,34230009,GHSS ISLAMIA DANDI NIZAM,Male,1
324,34230014,GHS PIR KHANA,Male,1
338,34230035,GGHS Baisa Kalan,Female,1
344,34230161,GGMHS SHEIKH PUR DAKHLI,Female,1

In [87]:
vpBySchool.iloc[:,3:].sum()

Assistant_vacant                     3.0
Bulavi_vacant                       27.0
Chowkidar/ S.G_vacant               65.0
Class-IV_vacant                     49.0
Head Clerk_vacant                    1.0
I.T. Comp. Lab. Incharge_vacant      9.0
Jr. Clerk_vacant                   114.0
Lab. Assistant_vacant                3.0
Lab. Attendant_vacant               60.0
Lab. Incharge_vacant                 2.0
Lecturer Assistant_vacant           23.0
Librarian_vacant                     9.0
Library Assistant_vacant             3.0
Library Attendant_vacant             6.0
Library Clerk_vacant                10.0
Mali_vacant                         20.0
Naib Qasid_vacant                   59.0
School Guard_vacant                  5.0
Store Keeper_vacant                  1.0
Sweeper_vacant                      44.0
Waterman_vacant                      3.0
Total                                0.0
dtype: float64